* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.menu-lateral {
    width: 300px;
    height: 100%;
    background-color: #4287f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    color: #fff;
    align-self: flex-start;
}

.user-perfil {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #1b61d1;
    align-items: center;
    display: flex;
    justify-content: center;
}

.button {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1rem;
}

.button button {
    padding: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    background-color: #1b61d1;
    border: 0;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 0.5rem;
}

.logout{
    position: absolute;
    bottom: 0;
    margin-bottom: 15px ;
    width: 150px;
    padding: 0.3rem;
    border-radius: 6px;
    color: #fff;
    background-color: #f5a142;
    cursor: pointer;
    border: 0;
}

.content {
    display: flex;
    width: 80%;
    flex-direction: column;
}

.categoria-header {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
}

.categoria-header .cat-label{
    display: flex;
    gap: 1rem;
}

.cat-label label{
    padding: 0.5rem;
    border: 1px solid #1b61d1;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.cat-label label:hover{
    background-color:  #1b61d1;
    color: #fff;
}

.active{
    background-color:  #1b61d1;
    color: #fff;
}
.title{
    color:#1b61d1;
    font-weight: bold;
    font-size: 1.2rem;
}
.pdf-content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pdf-content input {
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 250px;
}

.busca{
    display: flex;
    gap: 0.5rem;
}

.busca button{
    width: 40px;
    background-color:  #1b61d1;
    color: #fff;
    border: 0;
    border-radius: 6px;
}

.pdf-list{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
}
.pdf-card{
    width: 200px;
    height: 170px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
}

.pdf_title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; /* Oculta o conteúdo excedente */
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 0.9rem;
    width: 100%;
    word-break: break-all;
    text-align: center;
    
}
.pdf_title:hover {
    -webkit-line-clamp: initial; /* Mostra todas as linhas */
    overflow: visible; /* Permite que o conteúdo completo seja visível */
    white-space: normal; /* Remove a quebra de linha */
}
.pdf-icon{
    font-size: 4rem;
}

#pdfaction {
    display: flex;
    position: absolute;
    bottom: 0;
    align-self:center;
    justify-content: space-around;
    width: 55%;

}

#pdfaction button{
    width: 30px;
    height: 30px;
    background-color:  #4287f5;
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}

.data{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: #7a7979;
}
